<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body class="bg-slate-950">
    <!--barra de navegacion-->
    <div class="h-16">
        <nav id="navegacion" class="fixed top-0 right-0 left-0 h-16 bg-cyan-900 border-slate-300/10 border-b mx-4 rounded-lg border-sky-500"></nav>      
    </div>

    <!--menu lateral izquierdo-->
    <div id="menu-lateral" class="flex flex-row min-h-full max-h-full ms-auto me-auto"></div>

    <!--contenido-->
    <div class="border-slate-300/10 w-screen flex flex-row justify-center md:pl-52">
        <form id="formulario" class="flex flex-col md:gap-4 bg-cyan-900 p-4 rounded-lg text-sm shadow-xl my-10">
            <h2 class="font-bold font-mono text-center text-white">Registro de usuario</h2>
            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Primer nombre:</label>
                    <input
                        type="text"
                        id="pnombre-input"
                        autocomplete="off"
                        placeholder="Pedro"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Segundo nombre:</label>
                    <input
                        type="text"
                        id="snombre-input"
                        autocomplete="off"
                        placeholder="Jose"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">       
                </div>    
            </div>

            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Primer apellido:</label>
                    <input
                        type="text"
                        id="papellido-input"
                        autocomplete="off"
                        placeholder="Perez"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Segundo apellido:</label>
                    <input
                        type="text"
                        id="sapellido-input"
                        autocomplete="off"
                        placeholder="Gonzalez"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">       
                </div>    
            </div>

            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Cedula:</label>
                    <input
                        type="number"
                        id="cedula-input"
                        autocomplete="off"
                        placeholder="12345678"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Fecha de nacimiento:</label>
                    <input
                        type="date"
                        id="fnacimiento-input"
                        autocomplete="off"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                </div>    
            </div>

            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Telefono:</label>
                    <input
                        type="number"
                        id="telefono-input"
                        autocomplete="off"
                        placeholder="04240000000"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">  
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Correo electronico:</label>
                    <input
                        type="email"
                        id="email-input"
                        autocomplete="off"
                        placeholder="correo@dominio.com"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                </div>    
            </div>

            <div class="gap-2">                     
                <label for="" class="text-white font-bold font-mono">Tipo de usuario:</label>
                <select name="" id="tipo-input" class="rounded-lg p-2 focus:outline-blue-600 w-full">
                    <option value="">Seleccione</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Usuario">Usuario</option>
                    <option value="Inactivo">Inactivo</option>
                </select>                               
            </div>

            <input type="hidden" name="id" id="id" value="">
    
            <button class="bg-slate-950 px-4 rounded-lg font-bold font-mono text-white hover:bg-blue-400 py-2 my-2 max-md:mt-4 transition duration-150 ease-in-out border-2 border-blue-400">Registrar</button>
        </form>
    </div>

    <!--menu modal-->
    <div id="menu" class="p-4 self-start text-lg hidden"></div>
    <div id="menu2" class="bg-gray-900 rounded-lg h-32 w-32 fixed top-16 right-10 bottom-0 justify-center items-center flex-col hidden"></div>

    <script src="../components/nav.js"></script>
    <script src="./js/nuevoUsuario.js"></script>
</body>
</html>