<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-slate-950">
    <!--barra de navegacion-->
    <div class="h-16">
        <nav id="navegacion" class="fixed top-0 right-0 left-0 h-16 bg-cyan-900 border-slate-300/10 border-b mx-4 rounded-lg border-sky-500"></nav>      
    </div>

    <!--menu lateral izquierdo-->
    <div id="menu-lateral" class="flex flex-row min-h-full max-h-full ms-auto me-auto"></div>

    <!--contenido-->
    <div class="border-slate-300/10 w-screen flex flex-row justify-center md:pl-52">
        <form id="formulario" class="flex flex-col md:gap-4 bg-cyan-900 p-4 rounded-lg text-sm shadow-xl my-10">
            <h2 class="font-bold font-mono text-center text-white">Registro de vehiculo</h2>
            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Marca:</label>
                    <input
                        type="text"
                        id="marca-input"
                        autocomplete="off"
                        placeholder="Toyota"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Modelo:</label>
                    <input
                        type="text"
                        id="modelo-input"
                        autocomplete="off"
                        placeholder="Corolla"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">       
                </div>    
            </div>

            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Año:</label>
                    <input
                        type="number"
                        id="año-input"
                        autocomplete="off"
                        placeholder="2024"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Placa:</label>
                    <input
                        type="text"
                        id="placa-input"
                        autocomplete="off"
                        placeholder="ABC1234"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                </div>    
            </div>

            <div class="gap-2 md:grid grid-cols-2">
                <div>
                    <label for="" class="text-white font-bold font-mono">Tipo:</label>
                    <select name="" id="tipo-input" class="rounded-lg p-2 focus:outline-blue-600 w-full">
                        <option value="">Seleccione</option>
                        <option value="Automovil">Automovil</option>
                        <option value="Camioneta">Camioneta</option>
                        <option value="Moto">Moto</option>
                    </select>
                </div>
                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Kilometraje:</label>
                    <input
                        type="number"
                        id="km-input"
                        autocomplete="off"
                        placeholder="1000"
                        class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                </div>    
            </div>
    
            <div class="gap-2 md:grid grid-cols-2">                    
                <div>
                    <label for="" class="text-white font-bold font-mono">Estado:</label>
                    <select name="" id="estado-input" class="rounded-lg p-2 focus:outline-blue-600 w-full">
                        <option value="">Seleccione</option>
                        <option value="Disponible">Disponible</option>
                        <option value="Ocupado">Ocupado</option>
                        <option value="En ruta">En ruta</option>
                        <option value="En mantenimiento">En mantenimiento</option>
                        <option value="Fuera de servicio">Fuera de servicio</option>
                        <option value="Desarticulado">Desarticulado</option>
                    </select>
                </div>

                <div>
                    <label for="" class="text-white font-bold font-mono">Ubicacion:</label>
                    <select name="" id="ubicacion-input" class="rounded-lg p-2 focus:outline-blue-600 w-full">
                        <option value="">Seleccione</option>
                        <option value="Patios">Patios</option>
                        <option value="Campo">Campo</option>
                        <option value="Taller">Taller</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="id" id="id" value="">

            <button class="bg-slate-950 px-4 rounded-lg font-bold font-mono text-white hover:bg-blue-400 py-2 my-2 max-md:mt-4 transition duration-150 ease-in-out border-2 border-blue-400">Registrar</button>
        </form>
    </div>
    
    <!--menu modal-->
    <div id="menu" class="p-4 self-start text-lg hidden"></div>
    <div id="menu2" class="bg-gray-900 rounded-lg h-32 w-32 fixed top-16 right-10 bottom-0 justify-center items-center flex-col hidden"></div>
    
    <script src="../components/nav.js"></script>
    <script src="./js/editarVehiculo.js"></script>
</body>
</html>