<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@mapbox/polyline"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body class="bg-slate-950 relative">
    <!--barra de navegacion-->
    <div class="h-16">
        <nav id="navegacion" class="fixed top-0 right-0 left-0 h-16 bg-cyan-900 border-slate-300/10 border-b mx-4 rounded-lg border-sky-500 z-[2000]"></nav>      
    </div>

    <!--menu lateral izquierdo-->
    <div id="menu-lateral" class="flex-row min-h-full max-h-full ms-auto me-auto"></div>

    <!--mapa-->
    <div class="md:grid grid-cols-2">
        <div class="border-slate-300/10 md:col-span-1 flex justify-center md:pl-44 container">
            <div id="mapa" class="rounded-lg mt-10 max-md:mx-8">
                <div id="controles" class="absolute text-sm top-4 bg-white bg-opacity-80 p-4 rounded-lg shadow-lg w-1/3">
                    <input type="text" id="origen" placeholder="Origen" class="mb-2 p-2 border rounded w-full">
                    <div id="origen-suggestions" class="suggestions"></div>
                    <input type="text" id="destino" placeholder="Destino" class="mb-2 p-2 border rounded w-full">
                    <div id="destino-suggestions" class="suggestions"></div>
                    <button onclick="trazarRuta()" class="bg-blue-500 text-white p-2 rounded w-full">Buscar Ruta</button>
                    <div id="resultados" class="mt-4"></div>
                </div>
            </div>
        </div>

        <!--formulario-->
        <div class="border-slate-300/10 flex flex-row justify-center max-md:mx-8">
            <form id="formulario" class="flex flex-col md:gap-4 bg-cyan-900 p-4 rounded-lg text-sm shadow-xl my-10 md:mr-8 w-full">
                <h2 class="font-bold font-mono text-center text-white">Crear ruta</h2>
                <div class="gap-2 md:grid grid-cols-2">
                    <div>
                        <label for="" class="text-white font-bold font-mono">Fecha y hora:</label>
                        <input
                            type="datetime-local"
                            id="fecha-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full ">
                    </div>
                        
                    <div>
                        <label for="" class="text-white font-bold font-mono">Origen:</label>
                        <input
                            type="text"
                            id="origen-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full">       
                    </div>    
                </div>

                <div class="gap-2 md:grid grid-cols-2">
                    <div>
                        <label for="" class="text-white font-bold font-mono">Destino:</label>
                        <input
                            type="text"
                            id="destino-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full">
                    </div>
                        
                    <div>
                        <label for="" class="text-white font-bold font-mono">Distancia aproximada:</label>
                        <input
                            type="number"
                            id="distancia-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                    </div>    
                </div>

                <div class="gap-2 md:grid grid-cols-3">
                    <div>
                        <label for="" class="text-white font-bold font-mono">Tiempo estimado:</label>
                        <input
                            type="number"
                            id="tiempo-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full"> 
                    </div>
                        
                    <div>
                        <label for="" class="text-white font-bold font-mono">Vehiculo:</label>
                        <input
                            type="text"
                            id="vehiculo-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full">                            
                    </div>

                    <div>
                        <label for="" class="text-white font-bold font-mono">Km actual:</label>
                        <input
                            type="number"
                            id="km-input"
                            autocomplete="off"
                            class="rounded-lg p-2 focus:outline-blue-600 w-full">                             
                    </div>  
                </div>
        
                <div class="gap-2 md:grid">
                    <div>
                        <label for="" class="text-white font-bold font-mono">Detalles:</label>
                        <textarea name="" id="detalles-input" class="rounded-lg p-2 focus:outline-blue-600 w-full"></textarea>
                    </div>
                </div>

                <input type="hidden" name="id" id="id" value="">
                <input type="hidden" name="estadoVehiculo" id="estadoVehiculo-input" value="">
                <input type="hidden" name="ubicacion" id="ubicacion-input" value="">
                <input type="hidden" name="marca" id="marca-input" value="">
                <input type="hidden" name="modelo" id="modelo-input" value="">
                <input type="hidden" name="año" id="año-input" value="">
                <input type="hidden" name="placa" id="placa-input" value="">
                <input type="hidden" name="tipo" id="tipo-input" value="">
                <input type="hidden" name="estadoRuta" id="estadoRuta-input" value="En curso">
                <input type="hidden" name="usuario" id="usuario-input">
                <input type="hidden" name="fechaFinal" id="fecha-final-input" value=" ">
                <input type="hidden" name="fechaFinal" id="fecha-final-input" value=" ">
                <input type="hidden" name="estadoCierre" id="estado-cierre-input" value=" ">
                <input type="hidden" name="kmFinal" id="km-final-input" value=" ">
                <input type="hidden" name="detalesCierre" id="detalles-final-input" value=" ">
                <input type="hidden" name="usuarioEdit" id="usuarioEdit-input" value=" ">
        
                <button class="bg-slate-950 px-4 rounded-lg font-bold font-mono text-white hover:bg-blue-400 py-2 my-2 max-md:mt-4 transition duration-150 ease-in-out border-2 border-blue-400">Iniciar</button>
            </form>
        </div>
    </div>
    

    <!--menu modal-->
    <div id="menu" class="fixed p-4 self-start text-lg hidden z-[1000]"></div>
    <div id="menu2" class="bg-gray-900 rounded-lg h-32 w-32 fixed top-16 right-10 bottom-0 justify-center items-center flex-col hidden z-[1000]"></div>
    
    <script src="../components/nav.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="./js/nuevaRuta.js"></script>
</body>
</html>